body{
	background-color: #d2e3e5;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size:55px;
	float:center;
	font-style: italic;
	margin-top:300px;
	margin-left: 460px;
	letter-spacing: 10px;




}
h1{
	font-size: 108px;
	margin-bottom: -150px; 

	color:white;
	margin-left:350px;
	margin-right: 150px;
font-family: 'Passion One', cursive;
	margin-top:-50px;
}

p{
	color:black;
	font-family: 'Montserrat', sans-serif;

	font-size: 17px;
	margin-left:430px;
	margin-right:440px;
	margin-top:160px;
	text-align: center;
	margin
}

.a{
	
	float:left;
	transform: rotate(-90deg);
	margin-top:-190px;
	margin-bottom: 20px;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	letter-spacing: 13px;
	margin-left: 50px;
	color: #616161;
}
.b {
	float:left;
	transform: rotate(-90deg);
	margin-top:-290px;
	margin-bottom: 20px;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	letter-spacing: 13px;
	margin-left: 150px;
	color: #323986;


}
.color{
	width:400px;
	height:300px;
	color:rgba(128, 128, 128, 0.57);
	float: center;

}